$pre_headerbg:  #f1f1f1;
$logo_bg_color: #ffffff;
$nav_color: #000000;
$nav_color_hover: #3891b7;
$contact_bg: #eaf7e8;
$contact_icon_bg: #54b447;
$banner_content : #fefefe;
$banner_content_b: #b1f9a7;
$bform_bg_color: #ffffff;
$card_innerbg: #ffffff;
$card_contain_h3: #3891b7;
$card_contain_p: #515151;
$section_two_right_h3: #b5d3e5;
$pre_footer_bg: #141a1e;
$footerBgColor: #23292d;
$footerPColor: #61717c;
$footerIconBgColor: #61717c;
$footerIconColor: #23292d;
