@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/mbold/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/mbold/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat_extra';
    src: url('../fonts/mextrabold/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/mextrabold/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat_medium';
    src: url('../fonts/mmedium/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/mmedium/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat_semi';
    src: url('../fonts/msemibold/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/msemibold/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat_light';
    src: url('../fonts/mlight/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/mlight/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat_regular';
    src: url('../fonts/mregular/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/mregular/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


